@import url("https://fonts.googleapis.com/css?family=Ubuntu+Condensed");

@keyframes blink
{
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


*
{
    color: green;
    font-family: monaco !important;
}

html
{
    position: relative;
    height: 100vh;
}

body
{
    background: url(../img/mac.jpg);
    background-size: cover;
    position: relative;
    height: 100%;
}

#typed-strings
{
    display: none;
}

#typed-container
{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.typed-cursor
{
    opacity: 1;
    animation: blink .7s infinite;
}

#terminal
{
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

#terminal-bar
{
    background: linear-gradient(to right, rgb(192, 192, 192), rgb(202, 202, 202));
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 32px;
    position: relative;
}

.faux-button
{
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#close
{
    background-color: red;
    margin-left: 4px;
}

#middle
{
    background-color: grey;
    margin-left: 24px;
}

#expand
{
    background-color: green;
    margin-left: 44px;
}

#title
{
    color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

@media screen and (min-width: 0px) and (max-width: 480px)
{
    #terminal
    {
        height: 600px;
        width: 280px;
    }

    #title
    {
        font-size: 0.5em;
    }
}

@media screen and (min-width: 481px) and (max-width: 700px)
{
    #terminal
    {
        height: 640px;
        width: 360px;
    }

    #title
    {
        font-size: 0.7em;
    }
}

@media screen and (min-width: 701px)
{

    #terminal
    {
        height: 384px;
        width: 640px;
    }

    #terminal-bar
    {
    }

    #title
    {
        font-size: 1em;
    }
}
